---
---

<footer class="footer">
  <div class="footer__inner">
    <small class="copy">&copy; 2023 Astro and MicroCMS Blog Tutorial</small>
  </div>
</footer>

<style lang="scss">
  .footer {
    height: 39px;
    border-top: 1px solid #333;
  }

  .footer__inner {
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
  }

  .copy {
    font-size: 0.75rem;
    letter-spacing: 0.05em;
  }
</style>